* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #111;
  color: #a9a9a9;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
